In [1]:
import pandas as pd
import numpy as np
import random
import string
import csv

In [2]:
# Create list of random student names
students = ['Student'+str(i) for i in range(1, 26)]

# Create random attendance data (between 60-100)
attendance = np.random.randint(60, 101, 25)

# Create random grade data (scale of 1-100)
grades = np.random.randint(1, 101, 25)

# Create random flag for English as a second language (0 for no, 1 for yes)
esl = [random.choice([0, 1]) for _ in range(25)]

# Create list of random course names
courses = ['Course'+random.choice(string.ascii_uppercase) for _ in range(25)]

# Non-relevant data
favorite_colors = [random.choice(['Red', 'Blue', 'Green', 'Yellow', 'Black']) for _ in range(25)]

# Data with bad naming convention
numbr_siblings = np.random.randint(0, 5, 25) # Number of siblings, spelled wrong

# Sensitive data
social_security_numbers = [random.randint(100000000, 999999999) for _ in range(25)] # A 9-digit SSN, for example purposes only

# Column where data values are missing
test_scores = [random.randint(50, 100) if random.random() < 0.75 else np.nan for _ in range(25)] # 25% missing data

# Construct the DataFrame
data = pd.DataFrame({
    'Student': students,
    'Course': courses,
    'Attendance (%)': attendance,
    'Grade (%)': grades,
    'ESL Student': esl,
    'Favorite Color': favorite_colors,  # Non-relevant data
    'nbrSbling': numbr_siblings,  # Bad naming convention
    'SSN': social_security_numbers,  # Sensitive data
    'Test Score (%)': test_scores,  # Column with missing data
})

# Save the DataFrame to .csv
data.to_csv('data.csv', index=False)

# Data Best Pracitices

In [12]:
data = pd.read_csv('data.csv')
print(data.head())

    Student   Course  Attendance (%)  Grade (%)  ESL Student Favorite Color  \
0  Student1  CourseV              99         61            1          Black
1  Student2  CourseT             100         68            0          Black
2  Student3  CourseZ              65         62            1          Green
3  Student4  CourseD              99         59            0            Red
4  Student5  CourseM              69         52            0          Green

   nbrSbling        SSN  Test Score (%)
0          2  814959228            51.0
1          2  957527528            97.0
2          2  140318093             NaN
3          1  723954703            86.0
4          1  434536487            81.0

In [13]:
data['ID'] = data.index + 1
print(data.head())

    Student   Course  Attendance (%)  Grade (%)  ESL Student Favorite Color  \
0  Student1  CourseV              99         61            1          Black
1  Student2  CourseT             100         68            0          Black
2  Student3  CourseZ              65         62            1          Green
3  Student4  CourseD              99         59            0            Red
4  Student5  CourseM              69         52            0          Green

   nbrSbling        SSN  Test Score (%)  ID
0          2  814959228            51.0   1
1          2  957527528            97.0   2
2          2  140318093             NaN   3
3          1  723954703            86.0   4
4          1  434536487            81.0   5

Is everything useful? Is everything necessary? Is everything correct?

In [14]:
data = data.drop('Favorite Color', axis=1)

Does everything have the right name?

In [15]:
data = data.rename(columns={'nbrSbling': 'Siblings',
                            'SSN': 'Social_Security_Number',
                            'Test Score (%)': 'Test_Score',
                            'Attendance (%)': 'Attendance',
                            'Grade (%)': 'Grade',
                            'ESL Student': 'ESL_Student',
                            'Student': 'Student_Name',
                            'Course': 'Course_Name'})
print(data.head(5))

  Student_Name Course_Name  Attendance  Grade  ESL_Student  Siblings  \
0     Student1     CourseV          99     61            1         2
1     Student2     CourseT         100     68            0         2
2     Student3     CourseZ          65     62            1         2
3     Student4     CourseD          99     59            0         1
4     Student5     CourseM          69     52            0         1

   Social_Security_Number  Test_Score  ID
0               814959228        51.0   1
1               957527528        97.0   2
2               140318093         NaN   3
3               723954703        86.0   4
4               434536487        81.0   5

Do you have sensitive data?

In [16]:
data['Social_Security_Number'] = '***_**_****'
print(data.head(5))

  Student_Name Course_Name  Attendance  Grade  ESL_Student  Siblings  \
0     Student1     CourseV          99     61            1         2
1     Student2     CourseT         100     68            0         2
2     Student3     CourseZ          65     62            1         2
3     Student4     CourseD          99     59            0         1
4     Student5     CourseM          69     52            0         1

  Social_Security_Number  Test_Score  ID
0            ***_**_****        51.0   1
1            ***_**_****        97.0   2
2            ***_**_****         NaN   3
3            ***_**_****        86.0   4
4            ***_**_****        81.0   5

Is data Missing?

In [17]:
mean_test_score = data['Test_Score'].mean()
data['Test_Score_mean'] = data['Test_Score'].fillna(mean_test_score)
print(data.head(15))

   Student_Name Course_Name  Attendance  Grade  ESL_Student  Siblings  \
0      Student1     CourseV          99     61            1         2
1      Student2     CourseT         100     68            0         2
2      Student3     CourseZ          65     62            1         2
3      Student4     CourseD          99     59            0         1
4      Student5     CourseM          69     52            0         1
5      Student6     CourseO          93      3            1         0
6      Student7     CourseM          74     77            1         0
7      Student8     CourseH          80     40            1         2
8      Student9     CourseM          86     63            0         4
9     Student10     CourseO          97     68            1         3
10    Student11     CourseW          89     18            0         1
11    Student12     CourseI         100     86            0         3
12    Student13     CourseH          70      4            1         3
13    Student14     CourseP          90     52            1         2
14    Student15     CourseV          62     96            0         4

   Social_Security_Number  Test_Score  ID  Test_Score_mean
0             ***_**_****        51.0   1             51.0
1             ***_**_****        97.0   2             97.0
2             ***_**_****         NaN   3             79.1
3             ***_**_****        86.0   4             86.0
4             ***_**_****        81.0   5             81.0
5             ***_**_****         NaN   6             79.1
6             ***_**_****        72.0   7             72.0
7             ***_**_****        76.0   8             76.0
8             ***_**_****        98.0   9             98.0
9             ***_**_****        87.0  10             87.0
10            ***_**_****         NaN  11             79.1
11            ***_**_****         NaN  12             79.1
12            ***_**_****        88.0  13             88.0
13            ***_**_****        82.0  14             82.0
14            ***_**_****        78.0  15             78.0

In [18]:
data.to_csv('cleaned_data.csv', index=False)
print(data.head())

  Student_Name Course_Name  Attendance  Grade  ESL_Student  Siblings  \
0     Student1     CourseV          99     61            1         2
1     Student2     CourseT         100     68            0         2
2     Student3     CourseZ          65     62            1         2
3     Student4     CourseD          99     59            0         1
4     Student5     CourseM          69     52            0         1

  Social_Security_Number  Test_Score  ID  Test_Score_mean
0            ***_**_****        51.0   1             51.0
1            ***_**_****        97.0   2             97.0
2            ***_**_****         NaN   3             79.1
3            ***_**_****        86.0   4             86.0
4            ***_**_****        81.0   5             81.0